{{#if resume.skills.length}}
<div class="container skills-container">
  {{> title value="Skills"}}




  {{#each resume.skills}}
  <section class="item">
    <div class="section-header clearfix">
      {{#if name}}
        <h4 class="bold">{{name}}</h3>
      {{/if}}
    </div>
    {{#if level}}
      <h4 class="bold">{{level}}</h4>
    {{/if}}
    {{#if keywords.length}}
        {{#each keywords}}
          <h6>{{.}}</h6>
        {{/each}}
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}
